@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?8lmpuk");
  src: url("../fonts/icomoon.eot?8lmpuk#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?8lmpuk") format("truetype"), url("../fonts/icomoon.woff?8lmpuk") format("woff"), url("../fonts/icomoon.svg?8lmpuk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-flickr:before {
  content: "\e900"; }

.icon-instagram:before {
  content: "\e901"; }

.icon-phone:before {
  content: "\e942"; }

.icon-location:before {
  content: "\e947"; }

.icon-facebook:before {
  content: "\ea90"; }

.icon-twitter1:before {
  content: "\ea96"; }

.icon-youtube:before {
  content: "\ea9d"; }

#footer {
  background-color: #f5f5f5;
  padding-top: 16px;
  border-top: 3px solid #d9e1e7; }
  #footer .icon-location {
    font-size: 13px; }
  #footer .footer-logo {
    margin-bottom: 14px; }
    @media (min-width: 740px) {
      #footer .footer-logo {
        margin-bottom: 0;
        padding-top: 6px; } }
    @media (min-width: 960px) {
      #footer .footer-logo {
        padding-top: 7px; } }
    @media (min-width: 1200px) {
      #footer .footer-logo {
        padding-top: 1px;
        margin-bottom: 3px; } }
    #footer .footer-logo:before {
      content: '';
      background-color: #00a8c6;
      height: 3px;
      width: 192px;
      position: absolute;
      top: -19px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media (min-width: 740px) {
        #footer .footer-logo:before {
          width: 166px; } }
      @media (min-width: 960px) {
        #footer .footer-logo:before {
          width: 130px; } }
      @media (min-width: 1200px) {
        #footer .footer-logo:before {
          width: 166px; } }
  @media (min-width: 960px) {
    #footer .row-1 {
      margin-bottom: 26px; } }
  @media (min-width: 1200px) {
    #footer .row-1 {
      margin-bottom: 11px; } }
  #footer .row-1 .col-lg-4 {
    margin-bottom: 22px; }
  #footer .row-1 .col-lg-7 {
    margin-bottom: 13px; }
    @media (min-width: 740px) {
      #footer .row-1 .col-lg-7 {
        padding-top: 17px;
        margin-bottom: 5px; } }
    @media (min-width: 960px) {
      #footer .row-1 .col-lg-7 {
        padding-top: 20px; } }
    #footer .row-1 .col-lg-7 h2 {
      font-size: 12px;
      color: #06457a;
      line-height: 1.167;
      letter-spacing: 0.5px;
      margin-bottom: 10px; }
      @media (min-width: 740px) {
        #footer .row-1 .col-lg-7 h2 {
          margin-bottom: 9px; } }
      @media (min-width: 960px) {
        #footer .row-1 .col-lg-7 h2 {
          margin-bottom: 7px; } }
  #footer .row-1 address {
    color: #555555;
    padding: 0 52px; }
    #footer .row-1 address .location {
      margin-bottom: 8px; }
      @media (min-width: 740px) {
        #footer .row-1 address .location {
          margin-bottom: 5px; } }
    #footer .row-1 address a {
      color: #555555; }
      #footer .row-1 address a:hover {
        color: #000; }
  #footer .wrapper {
    overflow: hidden;
    margin: 0 auto; }
    #footer .wrapper .policies {
      font-size: 12px;
      padding-top: 18px; }
      @media (min-width: 740px) {
        #footer .wrapper .policies {
          padding-top: 9px; } }
      @media (min-width: 960px) {
        #footer .wrapper .policies {
          padding-top: 7px; } }
      #footer .wrapper .policies li {
        padding-right: 0 5px 3px 0; }
        #footer .wrapper .policies li:after {
          content: '|';
          padding-left: 5px; }
        #footer .wrapper .policies li:last-child:after {
          content: ''; }
        #footer .wrapper .policies li a {
          color: #606060; }
          #footer .wrapper .policies li a:hover {
            color: #000;
            text-decoration: none; }
  #footer .row-2 {
    z-index: 1;
    background-color: #ebebeb; }
    #footer .row-2 .social-networks {
      background-color: #fff;
      padding: 13px 4px;
      margin-bottom: 0; }
      @media (min-width: 740px) {
        #footer .row-2 .social-networks {
          margin: 0; } }
      @media (min-width: 960px) {
        #footer .row-2 .social-networks {
          margin-top: -20px; } }
      @media (max-width: 739px) {
        #footer .row-2 .social-networks:before {
          content: '';
          position: absolute;
          right: -999px;
          background-color: #fff;
          z-index: -2;
          top: 0;
          bottom: 0;
          width: 9999px; } }
      #footer .row-2 .social-networks li {
        padding: 0 13px; }
        @media (min-width: 740px) {
          #footer .row-2 .social-networks li {
            padding: 0 17px 0 15px; } }
        @media (min-width: 960px) {
          #footer .row-2 .social-networks li {
            padding: 0 20px 0 15px; } }
        @media (min-width: 1200px) {
          #footer .row-2 .social-networks li {
            padding: 0 17px 0 15px; } }
        #footer .row-2 .social-networks li a {
          font-size: 25px;
          color: #707070; }
          #footer .row-2 .social-networks li a:hover {
            color: #8fbe00; }

a.top {
  right: 20px;
  top: -18px;
  padding: 18px 10px 9px 13px;
  color: #555555;
  z-index: 1;
  font-size: 0.75rem; }
  @media (min-width: 740px) {
    a.top {
      right: 70px; } }
  @media (min-width: 960px) {
    a.top {
      right: 8px; } }
  @media (min-width: 1200px) {
    a.top {
      right: 17px; } }
  a.top:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #555555;
    position: absolute;
    top: 10px;
    left: 18px;
    z-index: 2; }

.external-links {
  margin-bottom: 18px; }
  @media (min-width: 740px) {
    .external-links {
      margin-bottom: 16px; } }
  @media (min-width: 960px) {
    .external-links {
      padding-top: 33px !important; } }
  .external-links a {
    padding: 4px 2px 3px 2px; }
    .external-links a:hover {
      opacity: 0.8; }

#header {
  padding: 11px 0 10px;
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto; }
  @media (min-width: 740px) {
    #header {
      padding: 12px 0 23px; } }
  @media (min-width: 960px) {
    #header {
      padding: 10px 0 22px; } }
  @media (min-width: 1200px) {
    #header {
      padding: 11px 0 22px; } }
  #header .sub-navigation {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px; }
    @media (min-width: 960px) {
      #header .sub-navigation {
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding-left: 0;
        margin-bottom: 23px; } }
    @media (min-width: 1200px) {
      #header .sub-navigation {
        margin-bottom: 20px; } }
    @media (min-width: 960px) {
      #header .sub-navigation:after {
        content: '';
        position: absolute;
        bottom: -10px;
        height: 2px;
        width: 607px;
        right: 0;
        background-color: #8fbe00; } }
    @media (min-width: 1200px) {
      #header .sub-navigation:after {
        width: 847px;
        margin-bottom: 18px;
        bottom: -28px; } }
    #header .sub-navigation a {
      padding-left: 10px; }
      @media (min-width: 740px) {
        #header .sub-navigation a {
          padding-left: 0.5em; } }
    #header .sub-navigation li {
      padding: 0 9px;
      position: relative; }
      @media (min-width: 1200px) {
        #header .sub-navigation li {
          padding: 0 8px; } }
      #header .sub-navigation li a.translate {
        font-size: 13px; }
        #header .sub-navigation li a.translate :after {
          position: absolute;
          right: 5px; }
      #header .sub-navigation li .dropdown:after {
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
        position: absolute;
        right: 6px; }
      #header .sub-navigation li + li:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #dcdcdc;
        z-index: 555;
        position: absolute;
        left: 0;
        bottom: 0; }
        @media (min-width: 960px) {
          #header .sub-navigation li + li:after {
            background: #e0e0e0;
            width: 1px;
            display: block;
            position: absolute;
            top: 9px;
            right: 0;
            height: 19px; } }
      #header .sub-navigation li.search:hover {
        background-color: transparent; }
    #header .sub-navigation .search-translate .translate:after {
      position: absolute;
      right: 19px;
      top: 14px;
      border-top: 0.4em solid;
      border-right: 0.4em solid transparent;
      border-bottom: 0;
      border-left: 0.4em solid transparent; }
      @media (min-width: 960px) {
        #header .sub-navigation .search-translate .translate:after {
          position: static; } }
    #header .sub-navigation a {
      color: #252525; }
      @media (min-width: 960px) {
        #header .sub-navigation a {
          color: #646464; } }
      #header .sub-navigation a:hover {
        color: #212529;
        text-decoration: none; }
    #header .sub-navigation a#navbardrop {
      color: #06457a;
      text-transform: none; }
      #header .sub-navigation a#navbardrop:hover {
        color: #81add4; }
    #header .sub-navigation li.dropdown:after {
      display: none; }
    #header .sub-navigation .dropdown-item {
      text-transform: none; }
  #header .main-navigation {
    font-size: 15px;
    margin-right: 0px;
    font-weight: 700;
    text-transform: capitalize; }
    @media (min-width: 960px) {
      #header .main-navigation {
        margin-right: -10px; } }
    @media (min-width: 1200px) {
      #header .main-navigation {
        font-size: 17px; } }
    #header .main-navigation > li {
      margin-left: 0; }
      @media (min-width: 960px) {
        #header .main-navigation > li {
          margin-left: 5px; } }
      @media (min-width: 1200px) {
        #header .main-navigation > li {
          margin-left: 29px; } }
      #header .main-navigation > li > a {
        color: #000;
        padding: 10px 19px; }
        @media (min-width: 960px) {
          #header .main-navigation > li > a {
            padding: 0 10px 10px 10px; } }
        @media (min-width: 960px) {
          #header .main-navigation > li > a:hover {
            color: #8fbe00; } }

@media (min-width: 960px) {
  #search .dropdown-menu {
    margin-right: 5px;
    padding: 0;
    border: 1px solid #8fbe00; } }

#search #search-bar {
  vertical-align: bottom;
  border: 1px solid #8fbe00; }

#search .dropdown-item:active {
  background: none; }

#search .dropdown-toggle:before {
  display: none; }

#search a:hover {
  opacity: 0.8; }

#search :after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #dcdcdc;
  z-index: 5555;
  position: absolute;
  left: 0;
  bottom: 0; }
  @media (min-width: 960px) {
    #search :after {
      display: none; } }

#search .dropdown-toggle:after {
  display: none; }

#search form {
  border: 1px solid #e1e1e1;
  border-radius: 50px;
  background: #fff; }
  @media (min-width: 960px) {
    #search form {
      border: none;
      border-radius: 0;
      background: transparent; } }
  #search form input[type=search] {
    width: 177px;
    height: 34px;
    border: none;
    background: none;
    font-size: 14px;
    font-style: italic; }
  #search form button {
    border: none;
    background: none;
    padding-top: 2px; }
    #search form button img :hover {
      opacity: 0.5; }

#search .btn[type='submit']:hover {
  opacity: 0.8; }

#search .btn-secondary {
  padding: 2px 13px; }

.logo {
  padding-top: 0; }
  @media (min-width: 960px) {
    .logo {
      padding-top: 14px; } }

.main-navbar {
  position: absolute;
  z-index: 45;
  top: 105px;
  right: 0;
  background-color: #f5f5f5;
  width: 241px;
  min-height: 100%; }
  .main-navbar:before {
    content: '';
    height: 4px;
    width: 107%;
    position: absolute;
    top: -4px;
    left: 0px;
    background: #8fbe00; }
    @media (min-width: 960px) {
      .main-navbar:before {
        display: none; } }
  @media (min-width: 960px) {
    .main-navbar {
      width: auto; } }
  .main-navbar li:hover {
    background-color: #dcdcdc; }
    .main-navbar li:hover#search {
      background-color: transparent; }
    @media (min-width: 960px) {
      .main-navbar li:hover {
        background-color: transparent; } }
  .main-navbar .has-drop-down-a:before {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 44px;
    background: #ebebeb;
    top: 0; }
    @media (min-width: 960px) {
      .main-navbar .has-drop-down-a:before {
        display: none; } }
  .main-navbar .has-drop-down-a:after {
    content: '';
    border-top: 5px solid #06457a;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
    position: absolute;
    top: 20px;
    right: 17px; }
    @media (min-width: 960px) {
      .main-navbar .has-drop-down-a:after {
        display: none; } }
  .main-navbar .active .has-drop-down-a:after {
    content: '';
    border-top: 0;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #06457a;
    border-left: 5px solid transparent;
    position: absolute;
    top: 20px;
    right: 17px; }
  .main-navbar li:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
    z-index: 5555;
    position: absolute;
    left: 0;
    bottom: 0; }
    @media (min-width: 960px) {
      .main-navbar li:after {
        background-color: transparent; } }
  @media (min-width: 960px) {
    .main-navbar {
      position: static;
      background-color: transparent; } }

#navbar1 {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100%; }
  @media (min-width: 960px) {
    #navbar1 {
      position: relative; } }
  #navbar1.show:before {
    content: '';
    position: absolute;
    top: 101px;
    right: 0;
    width: 9999px;
    height: 100%;
    z-index: 16;
    background-color: #000;
    opacity: 0.5; }
    @media (min-width: 960px) {
      #navbar1.show:before {
        display: none; } }

@media (max-width: 1199px) {
  .container {
    padding: 0 10px; }
  .row {
    margin: 0 -10px; }
  [class*="col-"] {
    padding: 0 10px; } }

@media (max-width: 739px) {
  .container {
    padding: 0 20px; }
  .row {
    margin: 0 -20px; }
  [class*="col-"] {
    padding: 0 20px; } }

.top-navbar .navbar-brand {
  width: 101px; }
  @media (min-width: 740px) {
    .top-navbar .navbar-brand {
      padding-top: 9px;
      width: 221px; } }
  @media (min-width: 960px) {
    .top-navbar .navbar-brand {
      padding-top: 19px;
      width: 264px; } }

.top-navbar .navbar-collapse {
  top: 0;
  right: 0;
  min-height: 100%; }

.top-navbar .navbar-toggler {
  border-radius: 50%;
  border-radius: 0;
  padding: 0 0 0 40px;
  margin: 0; }
  .top-navbar .navbar-toggler:hover {
    opacity: 0.8; }
  @media (min-width: 740px) {
    .top-navbar .navbar-toggler {
      margin-right: 11px;
      margin-top: 5px; } }
  .top-navbar .navbar-toggler:before {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #81add4;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.top-navbar .navbar-toggler-icon, .top-navbar .navbar-toggler-icon:before, .top-navbar .navbar-toggler-icon:after {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 4px;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  background-color: #81add4;
  top: 10px;
  left: 10px; }

.top-navbar .navbar-toggler-icon {
  background-color: transparent; }

.top-navbar .navbar-toggler-icon:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -6px;
  left: 0;
  -webkit-transform-origin: 12% 101%;
      -ms-transform-origin: 12% 101%;
          transform-origin: 12% 101%; }

.top-navbar .navbar-toggler-icon:after {
  -webkit-transform-origin: 9% -4%;
      -ms-transform-origin: 9% -4%;
          transform-origin: 9% -4%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 4px;
  left: 0; }

.top-navbar .collapsed .navbar-toggler-icon, .top-navbar .collapsed .navbar-toggler-icon:before, .top-navbar .collapsed .navbar-toggler-icon:after {
  opacity: 1;
  height: 2px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  background-color: #81add4; }

.top-navbar .collapsed .navbar-toggler-icon:before {
  top: -5px; }

.top-navbar .collapsed .navbar-toggler-icon:after {
  top: 5px; }

@media (min-width: 960px) {
  .slide:before {
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 7px;
    border-left-width: 7px;
    border-bottom: 7px solid #8fbe00;
    position: absolute;
    left: 42px;
    top: 34px; } }

@media (min-width: 1200px) {
  .slide:before {
    left: 49%;
    top: 46px; } }

.slide .dropdown-container {
  font-weight: 400;
  position: relative;
  background-color: #ebebeb;
  font-size: 14px;
  color: #444444;
  margin-left: 0; }
  @media (min-width: 960px) {
    .slide .dropdown-container {
      padding-left: 0;
      margin-left: -10px;
      z-index: -500;
      min-width: 423px;
      background-color: #f5f5f5;
      position: absolute;
      left: -32px;
      top: 38px;
      border-top: 4px solid #8fbe00; } }
  @media (min-width: 1200px) {
    .slide .dropdown-container {
      margin-left: -15px;
      min-width: 556px;
      left: -203px;
      top: 53px; } }

.slide .first-col {
  padding: 0;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media (min-width: 960px) {
    .slide .first-col {
      max-width: 197px;
      max-width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }
  @media (min-width: 1200px) {
    .slide .first-col {
      max-width: 255px; } }
  @media (min-width: 1200px) {
    .slide .first-col:after {
      content: '';
      height: 95%;
      width: 1px;
      position: absolute;
      top: 11px;
      right: -28px;
      background-color: #dddddd; } }
  @media (min-width: 960px) {
    .slide .first-col .first-level {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .slide .first-col .first-level {
      font-size: 16px; } }
  @media (min-width: 960px) {
    .slide .first-col .first-level > li:after {
      content: '';
      position: absolute;
      width: 185px;
      height: 1px;
      background-color: #e1e1e1;
      bottom: 0;
      left: 0; } }
  @media (min-width: 1200px) {
    .slide .first-col .first-level > li:after {
      width: 239px; } }
  .slide .first-col .first-level > li:after:last-child:after {
    background-color: transparent; }
  @media (min-width: 1200px) {
    .slide .first-col .first-level > li:last-child:after {
      background-color: #e1e1e1; } }
  .slide .first-col .first-level > li > a {
    color: #444444;
    width: 100%;
    padding: 11px 20px;
    background-color: #ebebeb; }
    @media (min-width: 960px) {
      .slide .first-col .first-level > li > a {
        width: 185px;
        padding: 11px 15px 11px 18px;
        background-color: transparent; } }
    @media (min-width: 1200px) {
      .slide .first-col .first-level > li > a {
        width: 239px;
        padding: 8px 5px 10px 12px;
        font-weight: 700; } }
    .slide .first-col .first-level > li > a:hover {
      color: #06457a;
      background-color: #dcdcdc; }
  .slide .first-col ul {
    font-size: 14px;
    font-weight: 400; }
    @media (min-width: 1200px) {
      .slide .first-col ul {
        padding: 0 0 12px 12px; } }
    .slide .first-col ul a:hover {
      color: #8fbe00; }

.quick-links {
  padding: 10px 0 13px 21px;
  background-color: #ebebeb;
  margin-top: 18px;
  color: #444444; }
  .quick-links .title {
    font-weight: 700; }
    .quick-links .title > ul li {
      padding-left: 8px;
      padding-bottom: 2px; }
      .quick-links .title > ul li a {
        color: #06457a; }
        .quick-links .title > ul li a:hover {
          color: #8fbe00; }
      .quick-links .title > ul li :before {
        content: '\2022';
        color: #8fbe00;
        position: absolute;
        left: -9px;
        top: 0; }
  @media (min-width: 1200px) {
    .quick-links {
      padding: 10px 0 21px 21px;
      margin-left: 24px;
      margin-top: 11px; } }
  .quick-links:after {
    content: '';
    height: 100%;
    width: 9px;
    position: absolute;
    right: -9px;
    background-color: #ebebeb;
    top: 0; }
    @media (min-width: 1200px) {
      .quick-links:after {
        width: 38px;
        right: -36px; } }

#navbar1.collapsing {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: none; }

ul.search-translate .dropdown-menu {
  border: none;
  border-radius: 0; }

@media (max-width: 959px) {
  #translate .dropdown-menu {
    left: 3px !important;
    right: 0;
    margin: 0; } }

@media (min-width: 960px) {
  #translate .dropdown-menu {
    top: -4px !important;
    left: -10px !important;
    border-top: 2px solid #8fbe00; } }

#translate .dropdown-menu .dropdown-item {
  border-radius: none;
  padding-left: 18px; }

#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%; }

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px 0 6px 0; }
  @media (min-width: 960px) {
    .main-container {
      padding: 13px 0 6px 0; } }
  @media (min-width: 1200px) {
    .main-container {
      padding: 14px 0 6px 0; } }

.banner {
  min-height: 60px;
  background-repeat: repeat;
  padding: 10px 0; }
  @media (min-width: 740px) {
    .banner {
      min-height: 69px; } }
  .banner:after {
    content: '';
    min-height: inherit;
    font-size: 0; }
  @media (max-width: 740px) {
    .banner .col-1 {
      padding-left: 26px; } }

body {
  background-color: #f5f5f5; }

.breadcrumb {
  background-color: #fff;
  font-size: 12px;
  margin-bottom: 7px; }
  .breadcrumb .breadcrumb-item {
    text-transform: uppercase; }
    .breadcrumb .breadcrumb-item:first-child {
      padding-right: 15px; }
    .breadcrumb .breadcrumb-item:not(:first-child) {
      padding: 0 19px 0 11px; }
    .breadcrumb .breadcrumb-item + li:before {
      content: '';
      position: absolute;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #8fbe00;
      left: -6px;
      top: 4px; }
    .breadcrumb .breadcrumb-item a {
      color: #686868; }
      .breadcrumb .breadcrumb-item a:hover {
        text-decoration: none;
        color: #000; }

.sidebar {
  margin-bottom: 35px; }
  @media (min-width: 960px) {
    .sidebar {
      padding: 27px 0 0 9px;
      margin-bottom: 0; } }
  @media (min-width: 960px) {
    .sidebar:before {
      content: '';
      height: 4px;
      width: 100%;
      position: absolute;
      top: 0;
      background-color: #00a8c6;
      left: 16px; } }
  .sidebar h2.h4 {
    margin-bottom: 10px; }

.nav-style-1 {
  padding: 0; }
  .nav-style-1 h2 {
    position: relative;
    font-size: 16px;
    padding: 14px 23px 14px 16px;
    border: 1px solid #8fbe00;
    width: 100%;
    margin: 0; }
    @media (min-width: 960px) {
      .nav-style-1 h2 {
        margin-bottom: 10px; } }
  .nav-style-1 > ul li {
    font-size: 14; }
  .nav-style-1 .navbar-toggler {
    border: none; }
    .nav-style-1 .navbar-toggler:hover {
      opacity: 0.8; }
    .nav-style-1 .navbar-toggler .navbar-toggler-icon, .nav-style-1 .navbar-toggler:before, .nav-style-1 .navbar-toggler:after {
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      display: inline-block;
      width: 15px;
      height: 4px;
      vertical-align: middle;
      content: "";
      background-size: 100% 100%;
      background-color: #81add4;
      top: 23px;
      right: 16px;
      opacity: 0; }
      @media (min-width: 740px) {
        .nav-style-1 .navbar-toggler .navbar-toggler-icon, .nav-style-1 .navbar-toggler:before, .nav-style-1 .navbar-toggler:after {
          right: 20px; } }
    .nav-style-1 .navbar-toggler:before {
      position: absolute;
      top: 18px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: -7% 106%;
          -ms-transform-origin: -7% 106%;
              transform-origin: -7% 106%;
      opacity: 1; }
    .nav-style-1 .navbar-toggler:after {
      position: absolute;
      top: 28px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 22% 37%;
          -ms-transform-origin: 22% 37%;
              transform-origin: 22% 37%;
      opacity: 1; }
    .nav-style-1 .navbar-toggler .text {
      margin-right: -7px;
      margin-left: 9px; }
  .nav-style-1 .collapsed .navbar-toggler-icon, .nav-style-1 .collapsed:before, .nav-style-1 .collapsed:after {
    opacity: 1;
    height: 2px;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0); }
  .nav-style-1 #navbar2.navbar-collapse {
    margin: 0; }
    @media (min-width: 960px) {
      .nav-style-1 #navbar2.navbar-collapse {
        display: block !important; } }
  .nav-style-1 .side-nav {
    font-size: 16px;
    border: 1px solid #8fbe00;
    padding: 22px 0 0 40px;
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    z-index: 14;
    background-color: #fbfdfe; }
    @media (min-width: 960px) {
      .nav-style-1 .side-nav {
        position: relative;
        padding: 0;
        font-size: 14px;
        border: none;
        top: 0;
        background-color: #fff; } }
    .nav-style-1 .side-nav li {
      margin-bottom: 8px; }
      .nav-style-1 .side-nav li > a {
        color: #06457a;
        padding: 0.5rem 0; }
        @media (min-width: 740px) {
          .nav-style-1 .side-nav li > a {
            padding: 0; } }
        .nav-style-1 .side-nav li > a:hover {
          color: #8fbe00; }
      .nav-style-1 .side-nav li.active > a:before {
        content: '';
        position: absolute;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #8fbe00;
        left: -8px;
        top: 14px; }
        @media (min-width: 740px) {
          .nav-style-1 .side-nav li.active > a:before {
            top: 7px; } }
        @media (min-width: 960px) {
          .nav-style-1 .side-nav li.active > a:before {
            top: 4px; } }
    .nav-style-1 .side-nav ul {
      line-height: 1.538462; }
      .nav-style-1 .side-nav ul li {
        margin-bottom: 3px; }
        .nav-style-1 .side-nav ul li > a {
          color: #000; }
          .nav-style-1 .side-nav ul li > a:hover {
            color: #686868; }
      .nav-style-1 .side-nav ul ul {
        padding-left: 22px;
        font-size: 13px;
        font-weight: 400; }
        .nav-style-1 .side-nav ul ul li {
          margin-bottom: 0;
          position: relative; }
          .nav-style-1 .side-nav ul ul li:before {
            content: '\2022';
            position: absolute;
            left: -10px; }
          .nav-style-1 .side-nav ul ul li > a {
            position: relative;
            color: #686868; }
            .nav-style-1 .side-nav ul ul li > a:hover {
              color: #000; }

#content {
  margin-bottom: 22px; }
  #content > img {
    margin-top: -1.5rem; }
  #content:before {
    content: '';
    height: 4px;
    position: absolute;
    top: 0px;
    background-color: #000;
    left: 20px;
    right: 20px;
    z-index: 5; }
    @media (min-width: 740px) {
      #content:before {
        left: 10px;
        right: 10px; } }
    @media (min-width: 1200px) {
      #content:before {
        left: 15px;
        right: 15px; } }

.light-text {
  color: #555555; }

.btn {
  font-size: 0.875rem;
  padding: 8px 13px; }

.right-sidebar {
  padding-top: 26px; }
  .right-sidebar h2 {
    margin-bottom: 12px; }
  .right-sidebar:before {
    content: '';
    height: 4px;
    width: 90%;
    position: absolute;
    top: 0px;
    background-color: #8fbe00;
    left: 10px; }
    @media (min-width: 740px) {
      .right-sidebar:before {
        left: -10px;
        width: 100%; } }
    @media (min-width: 1200px) {
      .right-sidebar:before {
        left: -15px; } }

.goals {
  margin-left: 36px; }
  .goals li {
    position: relative; }
    .goals li:before {
      content: '\2022';
      position: absolute;
      top: 0;
      left: -17px;
      color: #8fbe00; }

.inline-link {
  display: table;
  vertical-align: top;
  background-color: #f5f5f5;
  padding: 5px 13px 5px 22px;
  margin-bottom: 9px; }
  .inline-link a {
    color: #06457a;
    position: relative; }
    .inline-link a:hover {
      color: #8fbe00; }
    .inline-link a:before {
      content: '';
      position: absolute;
      height: 0;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #8fbe00;
      left: -15px;
      top: 8px; }

.inline-links {
  margin-bottom: 26px; }

h2.header {
  font-size: 24px; }

.staff li {
  margin-bottom: 9px;
  line-height: 1.35; }
  .staff li a:hover {
    color: #8fbe00; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

/* Slick slider styles */
.slick-slider-frame {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider-frame .slick-track,
.slick-slider-frame .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

body {
  min-width: 320px; }
/*# sourceMappingURL=main.css.map */